@import 'variablesCSS';
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@500;800&display=swap');

* {
  font-family: $primary-font-family;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  height: 60px;
  .navbarLogo {
    img {
      width: 115px;
      padding-left: 10px;
      padding-top: 10px;
      margin-left: 2px;
    }
    width: 30%;
  }
}

.menu {
  display: none;
}
/* Paramétrage du menu burger_______________https://github.com/negomi/react-burger-menu_____________________________________________________________________________________*/

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  margin-right: 10px;
  top: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
  border-radius: 10px;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  position: absolute;
  top: -25px;
  height: 50px;
  width: 50px;
  &:focus {
    outline: 0;
  }
}

/* Color/shape of close button cross */
.bm-cross {
  position: absolute;
  background: white;
  height: 50px;
  width: 50px;
  top: -25px;
}
#react-burger-cross-btn {
  position: absolute !important;
  top: -25px !important;
}
/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  position: relative;
  top: -30px;
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: $primary-color;
}

/* Wrapper for item list */
.bm-item-list {
  display: flex;
  flex-direction: column;
  color: #b8adad;
  padding: 6em;
  align-items: center;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: $secondary-color;
  text-decoration: none;
  padding: 1em;
  text-align: center;
}

/* Styling of overlay */
.bm-overlay {
  width: 0%;
  background: rgba(0, 0, 0, 0.3);
}

.purpleLogo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 150px;
  height: auto;
  padding-bottom: 50px;
  padding-top: 5px;
  padding-left: 10px;
}

@media screen and (min-width: 1080px) {
  .bm-burger-button {
    display: none;
  }
  .menu {
    width: 80%;
    height: 50px;
    padding-top: 20px;
    display: block;
    cursor: pointer;
    ul {
      display: flex;
      justify-content: space-around;

      margin-top: 5px;
    }
    a {
      text-decoration: none;
      color: white;
      &:hover {
        background: white;
        color: $primary-color;
        padding: 9px;
        border-radius: 10px;
        margin-bottom: 20px;
        &:active {
          background: pink;
        }
      }
    }
  }
}
