@import 'variablesCSS';

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  height: 6vh;
  .navbarLogo {
    img {
      width: 100px;
      padding-left: 10px;
    }
    width: 30%;
  }
}

.menu {
  display: none;
}
/* Paramétrage du menu burger_______________https://github.com/negomi/react-burger-menu_____________________________________________________________________________________*/

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 88%;
  top: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 50px;
  width: 50px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
  height: 50px;
  width: 50px;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: $primary-color;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8adad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: $secondary-color;
  text-decoration: none;
  padding: 1em;
  text-align: center;
}

/* Styling of overlay */
.bm-overlay {
  width: 0%;
  background: rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 1080px) {
  .bm-burger-button {
    display: none;
  }
  .menu {
    width: 80%;
    display: block;
    ul {
      display: flex;
      justify-content: space-around;
      padding-top: 10px;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}
