@import 'variablesCSS';
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Taille mobile et tablette ____________________________________________________________________________________________________________
@media screen and (max-width: 1024px) {
  .questionBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 60px);
    width: 100vw;
    padding: 20px;
    background: linear-gradient(
      $primary-color,
      $secondary-color,
      $third-color,
      $secondary-color,
      $primary-color
    );
    text-align: center;
    position: absolute;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;

    .robotMode {
      z-index: 0;
      border-radius: 20px;
      width: 120px;
      min-height: 50px;
      font-family: 'Poppins', sans-serif;
      background-color: #e16c69;
      cursor: pointer;
      &:active {
        background-color: #bb5759;
        box-shadow: 0 4px #666;
      }
      &:focus {
        outline: 0;
      }
      a {
        padding: 15px 6px;
        text-decoration: none;
        color: white;
        font-family: 'Poppins', sans-serif;
      }
    }

    .chat1ContainerOn {
      z-index: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 80%;

      .questionBubble {
        display: flex;
        background-color: white;
        padding: 15px 20px;
        border-radius: 30px;
        width: 100%;
        min-height: 150px;
        position: relative;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Turret Road', cursive;
        font-size: 20px;

        &:after {
          content: '';
          background-color: #fff;
          border-radius: 60%;
          display: block;
          position: absolute;
          z-index: 0;
          bottom: -20px;
          right: 40px;
          width: 30px;
          height: 30px;
          box-shadow: -20px 25px 0px -9px #fff, -10px 15px 0 -5px #fff;
        }
      }
    }

    .chat2ContainerOn {
      width: 100%;
      z-index: 0;
      background-color: white;
      margin-top: 20px;
      margin-bottom: 10px;
      border-radius: 30px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      height: 70vh;
      overflow-y: scroll;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 12px;
      }
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      }
      .message {
        display: flex;
      }
      .humanMessage {
        padding: 10px;
        background-color: #e16c69;
        color: white;
        border-radius: 10px;
        margin: 6px 0px;
        font-family: 'Poppins', sans-serif;
        width: fit-content;
        float: right;
        text-align: left;
      }
      .botMessage {
        padding: 10px;
        background-color: $third-color;
        color: white;
        border-radius: 10px;
        margin: 6px 0px;
        width: fit-content;
        float: left;
        text-align: left;
      }
    }

    .chat1ContainerOff,
    .chat2ContainerOff {
      display: none;
    }

    .writeArea {
      z-index: 0;
      width: 100%;
      height: 20%;
      padding: 0;
      margin-bottom: 20px;

      .chatIconButton {
        background-image: '../Images/conversation.png';
        position: relative;
        border-radius: 20px;
        background-color: white;
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
        padding-top: 8px;
        cursor: pointer;
        left: calc(50% - 33px);
      }
      .chatIcon {
        position: relative;
        height: 100%;
        width: 100%;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        bottom: 3px;
        top: -4px;
      }

      .questionArea {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: static;
        height: 80%;
        top: 2%;
      }

      .questionInput {
        background-color: white;
        margin-bottom: 15px;
        width: 95%;
        height: 40px;
        border-radius: 20px;
        text-align: center;
        font-weight: bolder;
        font-family: 'Poppins', sans-serif;
        &:focus {
          outline: 0;
        }
      }

      .questionButton {
        font-size: 16px;
        height: 40px;
        width: 95%;
        border-radius: 20px;
        margin: 0;
        font-family: 'Poppins', sans-serif;
        color: white;
        background-color: #e16c69;
        cursor: pointer;
        &:active {
          background-color: #bb5759;
          box-shadow: 0 4px #666;
        }
        &:focus {
          outline: 0;
        }
      }
    }
  }
}

// Taille tablette
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .questionBody {
    padding: 0px 20%;
    overflow-x: hidden;
  }
}

// Taille desktop ____________________________________________________________________________________________________________
@media screen and (min-width: 1024px) {
  .questionBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 60px);
    width: 100vw;
    background: linear-gradient(
      $primary-color,
      $secondary-color,
      $third-color,
      $secondary-color,
      $primary-color
    );
    text-align: center;
    position: absolute;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;

    .robotMode {
      z-index: 0;
      border-radius: 20px;
      width: 120px;
      min-height: 50px;
      font-family: 'Poppins', sans-serif;
      background-color: #e16c69;
      cursor: pointer;
      &:active {
        background-color: #bb5759;
        box-shadow: 0 4px #666;
      }
      &:focus {
        outline: 0;
      }
      a {
        padding: 15px 6px;
        text-decoration: none;
        color: white;
        font-family: 'Poppins', sans-serif;
      }
    }

    .chat1ContainerOn,
    .chat1ContainerOff {
      z-index: 0;
      padding-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 80%;
      width: 50%;

      .questionBubble {
        display: flex;
        background-color: white;
        padding: 15px 20px;
        border-radius: 30px;
        width: 70%;
        min-height: 150px;
        position: relative;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Turret Road', cursive;
        font-size: 20px;

        &:after {
          content: '';
          background-color: #fff;
          border-radius: 60%;
          display: block;
          position: absolute;
          z-index: 0;
          bottom: -20px;
          right: 40px;
          width: 30px;
          height: 30px;
          box-shadow: -20px 25px 0px -9px #fff, -10px 15px 0 -5px #fff;
        }
      }
    }

    .chat2ContainerOn {
      z-index: 0;
      background-color: white;
      margin-top: 20px;
      margin-bottom: 10px;
      border-radius: 30px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      height: 76vh;
      width: 250px;
      overflow: scroll;
      overflow-y: scroll;
      overflow-x: hidden;
      position: absolute;
      left: 75vw;
      top: 64px;
      &::-webkit-scrollbar {
        width: 12px;
      }
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      }
      .message {
        display: flex;
      }
      .humanMessage {
        padding: 15px;
        background-color: #e16c69;
        color: white;
        border-radius: 10px;
        margin: 6px 0px;
        font-family: 'Poppins', sans-serif;
        width: fit-content;
        float: right;
        text-align: left;
      }
      .botMessage {
        padding: 15px;
        background-color: $third-color;
        color: white;
        border-radius: 10px;
        margin: 6px 0px;
        width: fit-content;
        float: left;
        text-align: left;
      }
    }

    .chat2ContainerOff {
      display: none;
    }

    .writeArea {
      z-index: 0;
      height: 20%;
      width: 100%;
      width: 50%;
      margin-bottom: 20px;

      .chatIconButton {
        background-image: '../Images/conversation.png';
        position: relative;
        border-radius: 20px;
        background-color: white;
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
        padding-top: 8px;
        cursor: pointer;
        left: calc(50% - 33px);
      }
      .chatIcon {
        position: relative;
        height: 100%;
        width: 100%;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        bottom: 3px;
        top: -4px;
      }

      .questionArea {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: static;
        height: 80%;
        top: 2%;
      }

      .questionInput {
        background-color: white;
        margin-bottom: 15px;
        width: 95%;
        height: 40px;
        border-radius: 20px;
        text-align: center;
        font-weight: bolder;
        font-family: 'Poppins', sans-serif;
        &:focus {
          outline: 0;
        }
      }

      .questionButton {
        font-size: 16px;
        height: 40px;
        width: 95%;
        border-radius: 20px;
        margin: 0;
        font-family: 'Poppins', sans-serif;
        color: white;
        background-color: #e16c69;
        cursor: pointer;
        &:active {
          background-color: #bb5759;
          box-shadow: 0 4px #666;
        }
        &:focus {
          outline: 0;
        }
      }
    }
  }
}
