@import 'variablesCSS';
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.settingsBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  height: 95vh;
  background: linear-gradient(
    $primary-color,
    $secondary-color,
    $third-color,
    $secondary-color,
    $primary-color
  );
}

.settingsTitle {
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
  position: relative;
  margin-bottom: 10px;
}

.containerButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.backgroundSettings {
  margin-top: 60px;
  background-color: white;
  height: 60%;
  width: 80%;
  padding: 20px;
  padding-top: 98px;
  border-radius: 30px;
}

.buttonOn {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;
  height: 50px;
  border-radius: 20px;
  z-index: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border: none;
  box-shadow: 1px 5px 5px $primary-color;
  &:focus {
    outline: 0;
  }
  background-color: red;
}
.buttonOff {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;
  height: 50px;
  border-radius: 20px;
  z-index: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border: none;
  box-shadow: 1px 5px 5px $primary-color;
  &:focus {
    outline: 0;
  }
  background-color: green;
}
