@import 'variablesCSS';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ---------------------------------------STORE PART-----------------------------------------------*/

.storePart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  background: linear-gradient(
    $primary-color,
    $secondary-color,
    $third-color,
    $secondary-color,
    $primary-color
  );
}

.storeTitle {
  color: white;
  font-size: 50px;
  text-align: center;
  background-color: $primary-color;
  padding-top: 25px;
  position: relative;
  z-index: 0;
}

.storeCard {
  background: white;
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: solid 1px black;
  border-radius: 20px;
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: 0;
  h2 {
    margin: 20px 0 20px;
    z-index: 0;
  }
  img {
    margin: 35px 0 10px;
    border-radius: 5px;
    z-index: 0;
  }
}

.btnStore {
  width: 100px;
  font-size: 20px;
  color: white;
  text-align: center;
  position: relative;
  padding: 20px 0px;
  z-index: 0;
  border: solid 1px;
  border-radius: 20px;
  background-color: #bb5759;
  cursor: pointer;
  &:active {
    box-shadow: 0 4px #666;
  }
  &:focus {
    outline: 0;
  }
}

/* ------------------------------UNIQUE STORE PART-------------------------------------------------*/

.uniqueStore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  height: 91vh;
  background: linear-gradient(
    $primary-color,
    $secondary-color,
    $third-color,
    $secondary-color,
    $primary-color
  );
  position: relative;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.uniqueStoreTitle {
  color: white;
  font-size: 50px;
  z-index: 0;
  margin-bottom: 40px;
}

.uniqueCard {
  background: white;
  color: black;
  width: 300px;
  height: 420px;
  display: flex;
  z-index: 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: solid 1px black;
  border-radius: 20px;
  margin-bottom: 50px;
}

.uniqueStoreText {
  padding: 0 10px 0;
  display: flex;
  z-index: 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h2 {
    margin-bottom: 5px;
  }
}

.uniqueStoreDescription {
  height: 50px;
  text-align: center;
  display: flex;
  z-index: 0;
  justify-content: center;
  align-items: center;
}

.uniqueStorePrice {
  font-weight: bolder;
  margin-bottom: 10px;
  font-size: 20px;
  z-index: 0;
  height: 10px;
}

.uniqueStoreButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 98%;
  border-radius: 20px;
  z-index: 0;
  cursor: pointer;
}

.uniqueStoreButton button {
  width: 100px;
  font-size: 20px;
  background-color: #bb5759;
  color: white;
  text-align: center;
  padding: 20px 0px;
  z-index: 0;
  border: solid 1px;
  border-radius: 20px;
  cursor: pointer;
  &:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  &:focus {
    outline: none;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  background: linear-gradient(
    $primary-color,
    $secondary-color,
    $third-color,
    $secondary-color,
    $primary-color
  );
}

.uniqueStoreModalOpen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 93vh;
  z-index: 0;
  opacity: 0.7;
  background: linear-gradient(
    $primary-color,
    $secondary-color,
    $third-color,
    $secondary-color,
    $primary-color
  );
  position: relative;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

/* ----------------------------------ARROW---------------------------------------------------------*/

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  z-index: 0;
  top: 50%;
  width: 30px;
  height: 30px;
}

.right {
  transform: rotate(-45deg);
  z-index: 0;
  -webkit-transform: rotate(-45deg);
  right: 4%;
}

.left {
  transform: rotate(135deg);
  z-index: 0;
  -webkit-transform: rotate(135deg);
  left: 4%;
}

.mode-open {
  text-align: center;
  z-index: 0;
}

@media screen and (min-width: 768px) {
  /* ---------------------------------------STORE PART-----------------------------------------------*/

  .storePart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .storeCard {
    margin: 0 20px 40px;
  }

  /* ----------------------------------ARROW---------------------------------------------------------*/
  .right {
    right: 12%;
  }

  .left {
    left: 12%;
  }
}

@media screen and (min-width: 1024px) {
  .storeCard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    margin: 0;
    color: white;
    perspective: 1000px;
    transform-origin: center;
  }

  .uniqueCard {
    width: 400px;
    height: 420px;
  }
  /* ----------------------------------ARROW---------------------------------------------------------*/
  .right {
    right: 15%;
  }

  .left {
    left: 15%;
  }
}
